*{
    margin: 0%;
    padding: 0%;
}

header nav{
    background-color: rgb(0, 102, 128);
    width: 100%;
    height: 100px;
}

header nav h1 {
    color: red;
    display: flex;
    justify-items: center;
    justify-content: center;
    font-size: 40px;
}

body header nav div :hover{

    transform: rotate(360deg);
    background-color: aqua;
    

}


.center-submenu{
    display: flex;
    color: black;
    background-color: gray;
    width: 100%;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;

}

main{
    width: 100%;
    height: 1000px;
}

.fondo{
    background-image: url("../../imagenes/Menuescritorio/fondomenu.jpg");
    background-position: center;
    background-size: cover;
}


.center-games{
    color: red;
    display: flex;
    justify-items: center;
    justify-content: center;
    font-size: 30px;
    align-items: center;
}

img{
    width: 100%;
    height: 300px;
}

#grilla{
    display: grid;
    grid-template-columns: 30% 30% ;
    grid-template-rows: 500px 500px;


    justify-content: space-around;
    align-items: center;
    
}


#grilla div{
    
    width: 100%;
    height: 80%;


}

.carta{

    display: flex;
    flex-direction: column;
}




footer{
    background-color: orange;
    height: 500px;
}


@media only screen and (max-width:600px){

    

    header nav{
        width: 100%;
        height: 100px;
    }

    .center-submenu{
        display: flex;
        width: 100%;
        height: 70px;
        justify-content: space-around;
        align-items: center;
        font-size: 20px;
    
    }


    header nav h1 {

        font-size: 30px;
    
    }



    main{
        margin: 0%;
        padding: 0%;
        width: 100%;
        height: 800px;
    }

    .fondo{
        background-image: url("../../imagenes/Menuescritorio/fondomenu.jpg");
        background-position: center;
        background-size: cover;
    }

    .center-games{
        color: aqua;
        display: flex;
        justify-items: center;
        justify-content: center;
        font-size: 15px;
        align-items: center;
        height: 200px;
    }


    #grilla{

        display: grid;
        grid-template-rows: 300px 300px 300px ;
    
    
        justify-content: space-around;
        align-items: center;
        
    }
    
    
    #grilla div{
    
        width: 100%;
        height: 200px;
    
    }
    
    .carta{
        display: flex;
        flex-direction: column;
    }


    body footer {

        width: 100%;
        height: 500px;

    }
}

@media only screen and (max-width: 1024px){

    

    header nav{
        width: 100%;
        height: 100px;
    }

    .center-submenu{
        display: flex;
        width: 100%;
        height: 70px;
        justify-content: space-around;
        align-items: center;
        font-size: 20px;
    
    }


    header nav h1 {

        font-size: 30px;
    
    }



    main{
        margin: 0%;
        padding: 0%;
        width: 100%;
        height: 800px;
    }

    .fondo{
        background-image: url("../../imagenes/Menuescritorio/fondomenu.jpg");
        background-position: center;
        background-size: cover;
    }

    .center-games{
        color: aqua;
        display: flex;
        justify-items: center;
        justify-content: center;
        font-size: 15px;
        align-items: center;
        height: 200px;
    }


    #grilla{

        display: grid;
        grid-template-rows: 300px 300px 300px ;
    
    
        justify-content: space-around;
        align-items: center;
        
    }
    
    
    #grilla div{
    
        width: 100%;
        height: 200px;
    
    }
    
    .carta{
        display: flex;
        flex-direction: column;
    }


    body footer {

        width: 100%;
        height: 500px;

    }
}